[user]
    name = Diego Villamil
    email = diego.v@bineo.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pretty]
    dx = "%C(brightyellow)%h%C(reset) %C(brightblue)%ch%C(reset)%C(brightgreen)%d%C(reset) %s"
[format]
    pretty = dx
[credential]
	helper = manager
[core]
	editor = vim
[url "devops:v3/bineo2/"]
	insteadOf = devops:
